/*.cours-6 {
    background-color: red;
}
.cours-5 {
    background-color: rgb(238, 255, 0);
}
.cours-4 {
    background-color: red;
}
.cours-3 {
    background-color: red;
}
.cours-2 {
    background-color: red;
}
.cours-1 {
    background-color: red;
}

.liste-cours section{
    display: flex;
}*/

